.cartWrapper{
    display: flex;
    flex-wrap: wrap;
}

.cartImage {
    object-fit: cover;
    width: 150px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 2px 1px 5px 0.5px gray;
}

.cartDeleteButton{
    padding: 10px 12px;
    float: right;
}

.cartBox h1{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.cartContainer{
    border: 1px solid #a9a9a9;
    width: 50%;
    margin-bottom: 10px;
}

.cartListWrapper{
    display: flex;
}

.cartImageWrapper{
    width: 50%;
    height: 155px;
    margin-top: 20px;
    padding: 5px 10px;
}

.optionContainer{
    display: flex;
    width: 145px;
    position: relative;
    left: 200px;
    bottom: 180px;
    flex-wrap: wrap;
}

.buttonContainer{
    position: relative;
    left: 50%;
    width: 50%;
    bottom: 100px;
}

.buttonTemp{
    border: 1px solid #a9a9a9;
    float: right;
    width: 35%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.buttonPrice{
    margin-bottom: 20px;
}


.count{
    margin-left: 5px;
    color: #a9a9a9;
}

.countButtonWrapper{
    text-align: center;
}

.temp{
    display: flex;
    justify-content: center;
}

.fontContainer p{
    color: #9E9E9E;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}