.cartContainer {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.cartTitle {
  font-size: 24px;
  margin-bottom: 5px;
}

.cartSubtotal {
  font-size: 16px;
  color: #555555;
}

.cartListWrapper {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.cartImage {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
  border: 1px solid red;
  width: 50%;
}

.upbButton {
  cursor: pointer;
}
.downButton {
  cursor: pointer;
}

/* CSS for the up button */
.upbButton:before {
  content: '\25B2';
}

/* CSS for the down button */
.downButton:before {
  content: '\25BC';
}

.buttonWrapper {
  border: 1px solid blue;
  margin-left: 20px;
}

.cartDeleteButton {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 95%;
}
