.footerBox{
    margin-top: 10px;
    background-color: var(--footer-bg-color);
    border: 1px solid var(--footer-top-br-color);
}

.home{
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 10px;
    margin-top: 50px;
}

.footerWrapper{
    font-size: 24px;
    text-align: center;
}


.footerContainer{
    text-align: center;
}


.footerUl li{
    position: relative;
    z-index: 999;
    padding: 5px 10px;
    flex-wrap: wrap;
}

.loadContainer{
    padding: 1rem;
    border: 1px solid green;
}


.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
    margin-bottom: 20px;
}

.iconContainer p{
    text-align: center;
    margin: 25px 0;
}

/*F6F7F8*/
.footerLine{
    border-top: 2px solid #F6F7F8;

    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
}
.footerTitle{
    color: #C1C8CE;
    width: 30%;
    transform: translateY(30px);
    position: relative;
    left: 3%;
}

.footerBottom{
    float: right;
    transform: translate(-55px, 5px);
}

.footerBottom ul{
    display: flex;
    justify-content: right;
    margin-right: 5px;
}


.footerBottom img{
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    margin: 0 10px;
}