.container {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*width: 10%;*/
  border: 1px solid blue;
  /*left: 85%;*/
  /*height: 20%;*/
  /*margin: 0 auto;*/
  /*position: absolute;*/
  /*top: 6%;*/
  /*bottom: 0;*/
  /*transform: translate(-50%, -50%);*/
}

.wrapper {
  display: flex;
}

.categoriesItem {
  margin-left: 20px;
}
