.nav {
  display: flex;
  border-bottom: 0.1rem solid gray;
  height: 5rem;
}

.iconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}


.searchWrapper{
  margin: 0 auto;
  position: relative;
  right: 3%;
}

.imageWrapper {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.imageWrapper img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.imageWrapper p {
  margin-left: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbarUl {
  list-style: none;
}

.navbarUl li {
  margin-right: 20px;
  font-size: 19px;
}

.navbarUl li:hover {
  color: #555;
}

.navbarWrapper {
  display: flex;
  align-items: center;
}

.navbarItem {
  display: flex;
  width: calc(var(--nav-size) * 0.8);
}

.sidebar{
  padding: 2.8rem 0;
}

.open{
  position: relative;
  bottom: 63%;
  z-index: 9999;
  padding: 1.5rem;
  height: 1550px;
  pointer-events: none;
  background-color: #191919ff;
  color: #a9afc3;
}

.closeToggle{
  width: 1.75rem;
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  margin: 10px;
  pointer-events: auto;
  transform: translate(12.5rem,-0.5rem);

}

.dropDown{
  pointer-events: auto;
  cursor: pointer;
  display: none;
}

.listCollection{
  display: flex;
  flex-direction: column;
}

.listCollection:hover .dropDown{
  display: block;
}

.closeToggle span{
  background-color: #ddd;
  width: 100%;
  height: 2.5px;
}

.closeToggle span:first-child{
  transform: rotate(45deg);
  margin-top: 13px;
  margin-bottom: -5px;
}

.closeToggle span:nth-child(2){
  transform: translateX(-100%);
}
.closeToggle span:last-child{
  transform: rotate(-45deg);

}



.close {
  opacity: 0;
  position: relative;
  border: 1px solid red;
  padding: 1.5rem;
  pointer-events: none;
  z-index: 6;
  transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.1s ease;
}


.sidebarBody li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}



.sidebarHead{
  border-bottom: 1px  dashed #ddd;
  width: 100%;
  text-align: center;
}

.sidebarHead h1{
  font-size: 20px;
  padding: 30px 20px;
  margin: 0 60px;
}

.sidebarFoot{
  margin: 30px 0;
  width: 100%;
  padding: 50px 1px;
  text-align: center;
  border-top: 1px  dashed #ddd;
}


.dropDownContainer{

  pointer-events: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 2%;
  left : 0;
  bottom: 0;
}

.dropDownContainer li{
  margin : 0 auto;
  pointer-events: all;
  cursor: pointer;
}

.menu {
  border-radius: 4px;
  padding: 0.5rem;
  position: relative;
  z-index: 2;
  margin-top: 0.5rem;
}

.list {
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  padding: 1rem;
}

.list:hover{
  opacity: 0.5;
}



.listCollection{
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}


