.title {
  font-size: 24px;
  text-align: center;
}

.searchTitle{
  border-bottom: 1px solid black;
}

.resultList{
  width: 300px;
  margin-top: 70px;
  margin-right: 120px;
  position: relative;
  z-index: 1;
  color: black;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #ddd;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.resultList a{
  padding: 10px 20px;
}

.resultList a:hover{
  background-color: #a9a9a9;
  cursor: pointer;
}

.productContainer {
  display: flex;
  gap: 20px 5%;
  width: 97%;
  background-color: var(--page-bg-detail);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 1%;


}

.co {
  color: rgba(25, 25, 25);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  margin: 6px;
}

.detailWrapper {
  display: flex;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
}

.relatedContainer {
  z-index: 6;
  margin-right: 20px;
}

.relatedLi {
  margin: 10px 10px;
  object-fit: cover;
  width: 100%;
}

.relatedcartImage {
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  width: 60%;
}

.relatedLi img{
  object-fit: cover;
  border-radius: 5%;
}

.Image{
  object-fit: cover;
  border-radius: 5%;
  width: 100%;
}


.relatedcartImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cartButton {
  margin: 65px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33A0FF;
  color: white;
  border-radius: 30px;
  padding: 1rem 1rem;
  cursor: pointer;

}

.cartButton:hover {
  background-color: #a9a9a9;
}

.productDetails {
  position: relative;
  display: flex;
  align-items: center;
  width: 10%;
  height: 10%;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
}

.productInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30rem;
}

.productTitle {
  color: var(--color-text-primary);
  margin-bottom: 6.2rem;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}

.productPrice {
  /*color: var(--color-text-primary);*/
  color: var(--color-text-primary);
  font-size: 40px;
  position: absolute;
  bottom: 78%;
  left: 0;
  right: 0;

}

.originPrice{
  display: flex;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 100px;
  justify-content: space-evenly;
}


.originPrice h1{
  text-decoration: line-through;
  color: #9098B1;
}

.originPrice span{
  color:  red;
}

.productSale{
  color: var(--product-detail-title-color);
  font-size: 40px;
  position: absolute;
  bottom: 78%;
  left: 0;
  right: 0;

}

.productImage {
  aspect-ratio: auto;
  flex: 1;
  display: flex;
  justify-content: center;
}

.imageBox{
  padding: 5px 10px;
  display: flex;
  width: 100%;
}

.productSelectorContainer {
  width: 30%;
  height: 40%;
  position: absolute;
  left: 60%;
  bottom: 40%;
}

.productOption {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

}

.productOptionItem{
  margin: 5px 2px;
}

.productBox{
  margin-left: 10px;
}

.productOptionTitle {
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin: 20px 10px;
  color: var(--color-text-primary);
}

.productDescription{
  border-bottom: 10px  #F6F7F8;
  display: flex;
  width: 100%;
  margin-left: 10px;
  resize: none;

  background-color: var(--color-bg-product-container);
  margin-top: 50px;
  color: var(--header-text-color);
}

.productDescription:focus{
  outline: none;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 43px;
  border-radius: 30px;
  color: var(--product-title-color);
  border: var(--color-text-primary);
  background-color : #F6F7F8;
  transition: all 0.3s ease-in-out;
}


.loadContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid green;
}


.selectColor{
  padding: 15px 15px;
  margin: 0 1px;
  position: relative;
  left: 100%;
  border-radius: 50%;
}

.selectColor:hover{
  transform: scale(1.1);
}

.flexContainer:hover {
  transform: scale(1.1);
}

.paginationContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
  margin-right: 50px;
}

.pageNumber{
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.pageNumber.active {
  background-color: #fff;
  color: #007bff;
}


.pageNumber:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}

.pageNumber.disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}


.columnOptions{
  float: right;
  transform: translate(-270px,-30px);
}