.title {
  font-size: 24px;
  text-align: center;
}

.searchTitle{
  border-bottom: 1px solid black;
}

.resultList{
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.productContainer {
  position: relative;
  border-radius: 10px;
  margin: 10px 20px;
  display: flex;
  background-color: var(--page-bg-detail);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 20px;
}


.co {
  color: rgba(25, 25, 25);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  margin: 6px;
}

.detailWrapper {
  display: flex;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
}

.relatedContainer {
  z-index: 6;
  margin-right: 20px;
}

.relatedLi {
  margin: 20px 60px;
}

.relatedcartImage {
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  transition: transform 0.2s ease-in-out;

}

.relatedLi img{
  object-fit: cover;
  border-radius: 5%;

}

.Image{
  object-fit: none;
  border-radius: 5%;

}


.relatedcartImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cartButton {
  margin: 65px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  border-radius: 5%;
  border: 2px solid #a9a9a9;
  padding: 1rem 1rem;
  cursor: pointer;

}

.cartButton:hover {
  background-color: #a9a9a9;
}

.productDetails {
  display: flex;
  align-items: center;
  width: 10%;
  height: 10%;
  justify-content: center;
  flex: 1;
  flex-direction: column;

}

.productInfo {
  text-align: center;
  margin-bottom: 29rem;

}

.productTitle {
  color: var(--color-text-primary);
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 500;
}

.productPrice {
  color: var(--color-text-primary);
  margin-right: auto;
  width: auto;
  border-radius: 9999px;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.productImage {
  aspect-ratio: auto;
  flex: 1;
  display: flex;
  justify-content: center;
}

.imageBox{
  display: flex;
  margin-right: 100px;
  width: 100%;
}

.productSelectorContainer {
  width: 30%;
  height: 40%;
  position: absolute;
  left: 60%;
  bottom: 40%;
}

.productOption {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.productOptionItem{
  margin: 5px 2px;
}

.productBox{
  margin-left: 10px;
}

.productOptionTitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 10px;
  color: var(--color-text-primary);
}

.productDescription{
  border-top: 1px dashed #555555;
  display: flex;
  width: 100%;
  margin-left: 10px;
  resize: none;
}

.productDescription:focus{
  outline: none;
}

.flexContainer {
  display: flex;
  min-width: 36px;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border-radius: 50%;
  color: var(--page-bg-color);
  border: var(--color-text-primary);
  background-color: var(--color-text-primary);
  transition: all 0.3s ease-in-out;
}

.selectColor{
  padding: 15px 15px;
  border-radius: 50%;
}

.selectColor:hover{
  transform: scale(1.1);
}

.flexContainer:hover {
  transform: scale(1.1);
}
