@import "/globals.css";


.footerBox{
    border: 1px solid red;
    display: flex;
    height: 45vh
}

.home{
}

.container{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}