.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.searchContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchInput {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background: #ffffff;
    border: 2px solid #0D6EFD;
    color: black;
    outline: none;
}


